.cont{
    position: relative;
    border: 1px solid;
   display:flex;
   flex-direction: column;
   align-items: center;
}
.text{
    color: white;
    width: auto;
    position: absolute;
    font-weight: bold;
    font-size: 100px;
    top: 400px;
    left: 50px;
}

.imgmain{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.tposiciones{
    width: 450px;
    border: solid 1px  rgba(19, 4, 1, 0.2);
    margin-bottom:  20px;
    border-radius: 10px;
    /*border: 1px solid red;*/
}
th{
   
 width: auto;

}
td{
    width: 150px;
   
}
